.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {

	.badge {
		transition: none;
	}
}

a.badge:hover,
a.badge:focus {
	text-decoration: none;
}

.badge:empty {
	display: none;
}

.btn .badge {
	position: relative;
	top: -1px;
}

.badge-pill {
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
}

.badge-primary {
	color: #fff;
	background-color: #1d2327;
}

a.badge-primary:hover,
a.badge-primary:focus {
	color: #fff;
	background-color: #07090a;
}

a.badge-primary:focus,
a.badge-primary.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(29, 35, 39, 0.5);
}

.badge-secondary {
	color: #fff;
	background-color: #2c3338;
}

a.badge-secondary:hover,
a.badge-secondary:focus {
	color: #fff;
	background-color: #16191b;
}

a.badge-secondary:focus,
a.badge-secondary.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(44, 51, 56, 0.5);
}

.badge-success {
	color: #fff;
	background-color: #28a745;
}

a.badge-success:hover,
a.badge-success:focus {
	color: #fff;
	background-color: #1e7e34;
}

a.badge-success:focus,
a.badge-success.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-info {
	color: #fff;
	background-color: #17a2b8;
}

a.badge-info:hover,
a.badge-info:focus {
	color: #fff;
	background-color: #117a8b;
}

a.badge-info:focus,
a.badge-info.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badge-warning {
	color: #212529;
	background-color: #ffc107;
}

a.badge-warning:hover,
a.badge-warning:focus {
	color: #212529;
	background-color: #d39e00;
}

a.badge-warning:focus,
a.badge-warning.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.badge-danger {
	color: #fff;
	background-color: #dc3545;
}

a.badge-danger:hover,
a.badge-danger:focus {
	color: #fff;
	background-color: #bd2130;
}

a.badge-danger:focus,
a.badge-danger.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-light {
	color: #212529;
	background-color: #f8f9fa;
}

a.badge-light:hover,
a.badge-light:focus {
	color: #212529;
	background-color: #dae0e5;
}

a.badge-light:focus,
a.badge-light.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.badge-dark {
	color: #fff;
	background-color: #343a40;
}

a.badge-dark:hover,
a.badge-dark:focus {
	color: #fff;
	background-color: #1d2124;
}

a.badge-dark:focus,
a.badge-dark.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
}

.table th,
.table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
	border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
	padding: 0.3rem;
}

.table-bordered {
	border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
	border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
	border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
	border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
	color: #212529;
	background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
	background-color: #c0c1c3;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
	border-color: #898d8f;
}

.table-hover .table-primary:hover {
	background-color: #b3b4b7;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
	background-color: #b3b4b7;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
	background-color: #c4c6c7;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
	border-color: #919598;
}

.table-hover .table-secondary:hover {
	background-color: #b7b9bb;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
	background-color: #b7b9bb;
}

.table-success,
.table-success > th,
.table-success > td {
	background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
	border-color: #8fd19e;
}

.table-hover .table-success:hover {
	background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
	background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
	background-color: #bee5eb;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
	border-color: #86cfda;
}

.table-hover .table-info:hover {
	background-color: #abdde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
	background-color: #abdde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
	background-color: #ffeeba;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
	border-color: #ffdf7e;
}

.table-hover .table-warning:hover {
	background-color: #ffe8a1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
	background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
	background-color: #f5c6cb;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
	border-color: #ed969e;
}

.table-hover .table-danger:hover {
	background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
	background-color: #f1b0b7;
}

.table-light,
.table-light > th,
.table-light > td {
	background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
	border-color: #fbfcfc;
}

.table-hover .table-light:hover {
	background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
	background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
	background-color: #c6c8ca;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
	border-color: #95999c;
}

.table-hover .table-dark:hover {
	background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
	background-color: #b9bbbe;
}

.table-active,
.table-active > th,
.table-active > td {
	background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
	background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
	background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
	color: #fff;
	background-color: #343a40;
	border-color: #454d55;
}

.table .thead-light th {
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.table-dark {
	color: #fff;
	background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
	border-color: #454d55;
}

.table-dark.table-bordered {
	border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {

	.table-responsive-sm {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	.table-responsive-sm > .table-bordered {
		border: 0;
	}
}

@media (max-width: 767.98px) {

	.table-responsive-md {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	.table-responsive-md > .table-bordered {
		border: 0;
	}
}

@media (max-width: 991.98px) {

	.table-responsive-lg {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	.table-responsive-lg > .table-bordered {
		border: 0;
	}
}

@media (max-width: 1199.98px) {

	.table-responsive-xl {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	.table-responsive-xl > .table-bordered {
		border: 0;
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
	border: 0;
}

.badge-pill {
	padding: 0.4rem 1rem;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group + .form-group {
	border-top: 1px solid #adb5bd;
}

.form-group .input-group {
	display: inline-block;
	min-width: 150px;
}

.fltr-button {
	float: right;
	margin-right: 8px !important;
}

.fltr-field {
	margin-right: 8px !important;
}

.form-info-text {
	display: block;
	clear: both;
	color: #6c757d;
	font-style: italic;
	margin-top: 0.25rem;
}

input.medium-text {
	width: 150px;
	padding: 0 6px;
}

.range-text {
	margin-left: 0.5rem;
}

.range-label {
	display: block;
	font-weight: 700;
}

.control-group + .control-group {
	border-top: 1px solid #dee2e6;
	padding-top: 1rem;
}

.control-label {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 8px;
	padding-top: 0;
}

.form-check-label {
	margin-right: 1.5rem;
	margin-bottom: 0.75rem;
	padding-left: 22px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
}

.form-check-label .form-check-icon {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: #fff;
	border: 1px solid #8c8f94;
	border-radius: 50%;
}

.form-check-label .form-check-icon::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 1px;
	width: 4px;
	height: 8px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.form-check-label input {
	position: absolute;
	opacity: 0 !important;
	cursor: pointer;
	height: 0;
	width: 0;
}

.form-check-label input:checked ~ .form-check-icon {
	background-color: #000;
}

.form-check-label input:checked ~ .form-check-icon::after {
	display: block;
}

.form-check-label input[type=checkbox] ~ .form-check-icon {
	border-radius: 0;
}

.form-check-label input.error ~ .form-check-icon {
	border-color: #dc3545 !important;
}

.disabled-fields {
	cursor: not-allowed;
	opacity: 0.5;
}

.custom-file,
.custom-file-label,
.custom-file-input {
	cursor: pointer !important;
}

label.required {
	position: relative;
}

label.required::after {
	content: "*";
	position: absolute;
	top: 0;
	right: -10px;
	color: #dc3545;
}

.radio-toggle .form-check-label {
	display: block;
	padding-left: 0;
	margin-bottom: 0;
	padding-right: 70px;
}

.radio-toggle .form-check-label .form-check-icon {
	right: 0;
	left: auto;
	height: 10px;
	width: 34px;
	border: none;
}

.radio-toggle .form-check-label .form-check-icon::before {
	content: "";
	cursor: pointer;
	position: absolute;
	display: inline-block !important;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #f1f1f1;
	border-radius: 20px;
	transition: opacity 0.2s ease-out 0.1s, transform 0.2s ease-out 0.1s;
	transform: scale(1);
	opacity: 1;
}

.radio-toggle .form-check-label .form-check-icon::after {
	content: "";
	cursor: pointer;
	position: absolute;
	display: inline-block !important;
	border: none !important;
	top: 50%;
	left: 0;
	z-index: 3;
	transition: transform 0.4s cubic-bezier(0.44, -0.12, 0.07, 1.15);
	width: 14px;
	height: 14px;
	transform: translate3d(0, -50%, 0);
	background-color: #8c8f94;
	border-radius: 100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.radio-toggle .form-check-label input:focus ~ .form-check-icon {
	box-shadow: 0 0 0 4px #43b556;
}

.radio-toggle .form-check-label input:checked ~ .form-check-icon {
	background-color: transparent;
}

.radio-toggle .form-check-label input:checked ~ .form-check-icon::after {
	transform: translate3d(100%, -50%, 0);
	background-color: #000;
}
